.navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar div ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
} 
.navbar li a{
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 2, 4);
}
.navbar ul li a:hover {
    position: relative;
    cursor: pointer;
    color: rgb(243, 242, 242);
    background-color: rgb(12, 11, 11);

}
.navbar li span{
    padding: 3px 23px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 2, 4);
}
.navbar ul li span:hover {
    position: relative;
    cursor: pointer;
    color: rgb(243, 242, 242);
    background-color: rgb(12, 11, 11);

}
.navbar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.4;

}
.logo img{
    height: 60px;
    width: 50px;
}

.dropdwn{
    display: none;
    background-color: white;
    border-radius: 5px;
}

.dropdwn a{
    display: block;
    padding: 3px 23px;
    margin: 0 400px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 2, 4);
}
.dropdwn a:hover{
    position: relative;
    cursor: pointer;
    color: rgb(243, 242, 242);
    background-color: rgb(12, 11, 11);
}
.visible{
    display: flex;
    flex-direction: column;
}